html, body{
    height: 100%;
    width: 100%;    
}
.main{
    width: 90%;
    background-color: #DDD;
    padding-bottom: 5%;
}
#help{
    margin: 0;
    padding-bottom: 0px;
}
#body{
    margin-top: 0px;
}

/*Cumulative GPA Calc*/
#table{
    margin: 0;
    border: 1px solid black;
}
th:nth-child(2){
    border-left: 2px solid black;
    border-right: 2px solid black;
}
td:nth-child(2){
    border-left: 1px solid black;
}
#GPA-container{
    display: none;
}

/*Class Grade Calc*/
#body2{
    display: flex;
    margin-top: 0px;
    align-items: flex-start;
}
#assignment-container{
    border: 1px solid black;
}

.table-borderless input{
    color: red;
}
.group{
    float: left;
    margin:0;
}
#group-info-container{
    border: 1px solid black;
    width: 400px;
    margin-left: 5%;
}
.column{
    padding: 1%;
}