html, body{
    height: 100%;
    width: 100%;    
}
.main{
    width: 90%;
    background-color: #DDD;
    padding-bottom: 5%;
}
#help{
    margin: 0;
    padding-bottom: 0px;
}
#body{
    margin-top: 0px;
}

/*Cumulative GPA Calc*/
#table{
    margin: 0;
    border: 1px solid black;
}
th:nth-child(2){
    border-left: 2px solid black;
    border-right: 2px solid black;
}
td:nth-child(2){
    border-left: 1px solid black;
}
#GPA-container{
    display: none;
}

/*Class Grade Calc*/
#body2{
    display: flex;
    margin-top: 0px;
    align-items: flex-start;
}
.group{
    float: left;
    margin:0;
    border-bottom: 1px solid black;
    max-height: 325px;
    overflow-y: auto;
}
.group h3{
    position: sticky;
    top: 0;
    background: #AAA;
}
#group-info-container{
    width: 400px;
    margin-left: 10%;
    flex-shrink: 0;
}
#wrapper{
    padding: 1%;
    border: 1px solid black;
}
#warning{
    display: none;
    color: red;
}
